@*<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th><h3>We Found @ViewBag.SearchResults.Count students with the name @ViewBag.search</h3></th>
        </tr>
    </thead>
    @foreach (Student stdnt in ViewBag.SearchResults)
    {
        <tr>
            <td>@stdnt.fName @stdnt.lName | Career Path: @stdnt.CareerPath | Enrollement Date: @stdnt.JoinDate</td>
        </tr>

    }
</table>*@