@model List<Student>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th><h3>We Found @Model.Count students with the name @ViewBag.search</h3></th>
        </tr>
    </thead>
    @foreach (Student stdnt in Model)
    {
        <tr>
            <td>@stdnt.fName @stdnt.lName | Career Path: @stdnt.Career.ToString().Replace('_', ' ') | Enrollement Date: @stdnt.JoinDate</td>
        </tr>

    }
</table>